<header>
    <div class="header-img">
        <img src="/static/img/header-img.jpeg" alt="header-image" srcset="" />
    </div>
    <div class="intro">
        <h1 class="about-title">hi, this is Oliver!</h1>
        <h2 class="about-intro"> I'm a full-stack web developer who's passionate about building digital experiences that
            nurture community, knowledge and young generation. I am currently a graduate student in Computer Engineering
            at Memorial University of Newfoundland and I have a BE in Electrical Engineering from the Southeast
            University.
        </h2>
        <h2 class="about-intro">
            Whether the internet or the outdoors, I love exploring, and I apply this open mindset to my creative
            projects. I am happiest when I am using my passions to help you pursue yours! If you're interested in
            working together,
            <a href="/contact" class="link">get in touch here!</a>
        </h2>
    </div>
</header>
<main>
    <div class="education">
        <div class="edu-wrapper">
            <div class="edu-img seu-img">
                <img src="/static/img/seu.png" alt="">
            </div>
            <div class="uni-container">
                <h1 class="edu-degree">Bachelor in Electrical Engineering</h1>
                <h2 class="seu-info">Southeast University ——— China</h2>
                <h3>2016 ——— 2021</h3>
            </div>
        </div>
        <div class="edu-wrapper">
            <div class="uni-container">
                <h1 class="edu-degree">Master in Computer Engineering</h1>
                <h2 class="edu-time">Memorial University of Newfoundland —— Canada</h2>
                <h3>2021 ——— present</h3>
            </div>
            <div class="edu-img mun-img">
                <img src="/static/img/mun.png" alt="">
            </div>
        </div>
    </div>
    <!-- <div class="profile">
        <h1>Eating. Drink. Coding. & Always learning</h1>
        <a href="/about" class="link">Learn more</a>
    </div> -->
    <div class="skills-wrapper">
        <h1>my skills.</h1>
        <ul class="skills">
            <li>HTML</li>
            <li>CSS</li>
            <li>Sass</li>
            <li>UI/UX design</li>
            <li>JavaScript</li>
            <li>Jquery</li>
            <li>Typescript</li>
            <li>Node.Js</li>
            <li>React</li>
            <li>Material UI</li>
            <li>Restful API</li>
            <li>MySQL</li>
            <li>MongoDB</li>
            <li>Express</li>
            <li>Git collaboration</li>
            <li>AWS</li>
        </ul>
    </div>
</main>