<header>
    <div class="header-img">
        <img src="/static/img/header-img.jpeg" alt="header-image" srcset="" />
    </div>
    <div class="intro">
        <h1 class="home-title">Oliver Gee</h1>
        <h2 class="home-intro"> a web developer</h2>
    </div>
</header>
<main>
    <div class="profile">
        <h1>Eating. Drink. Coding. & Always learning</h1>
        <a href="/about" class="link">Learn more</a>
    </div>
    <div class="project">
        <h3>my recent projects</h3>
        <div class="project-list">
            <div class="project-item">
                <a href="/work"><img src="/static/img/church.jpeg" alt="">
                </a>
            </div>
            <div class="project-item">
                <a href="/work"><img src="/static/img/beijing.jpeg" alt="">
                </a>
            </div>
            <div class="project-item">
                <a href="/work"><img src="/static/img/yoga.jpeg" alt=""></a>
            </div>
        </div>
        <a href="/about" class="link">View all my work</a>
    </div>
    <div class="welcome">
        <h1>open for employment</h1>
        <a href="/contact" class="link">
            <h3>get in touch</h3>
        </a>
    </div>
    <!-- <div class="pic">
        <img src="/static/img/birds.jpeg" alt="">
    </div> -->
</main>